<div class="row">
  <div class="col-md-3">
    <div class="center">
      <%= image_tag avatar_url(@user), class: "avatar-full" %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= @user.fullname %>
      </div>
      <div class="panel-body">
        <%= @user.email %> <br>
        <%= link_to "Edit Profile", edit_user_registration_path %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2>Description</h2>

    <p>Locavore banjo authentic venmo. Farm-to-table sriracha next level poutine, dreamcatcher quinoa chia roof party disrupt succulents. Chillwave keffiyeh put a bird on it intelligentsia PBR&B. Flexitarian mustache iPhone, retro chambray jean shorts gentrify. Offal mlkshk ethical etsy live-edge literally. Pitchfork twee dreamcatcher cray, af pinterest microdosing godard YOLO. Thundercats enamel pin direct trade, post-ironic biodiesel williamsburg sriracha humblebrag unicorn you probably haven't heard of them vape.</p>
  </div>
</div>
