@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";

@charset "UTF-8";
@import url("http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css");

// Colors
// ==================================================

$white: #fff;

$blue         : #03354a;
$lavender-dark: #8a7c85;
$lavender     : #70626d;
$teal-light   : #cce4e3;
$teal         : #7bc1bf;
$yellow-dark  : #f39f4e;
$yellow       : #fedb9e;
$yellow-light : #feecd6;
$mellon       : #ff7e82;
$salmon-ish   : #ff5a5f;
$dark-orange  : #fa0008;
$red-orange   : #e00007;

/**************************** globals ******/
body {
  color: $blue;
  background-color: $white;
}

textarea {
  resize: vertical;
}

.container {
  width: 80%;
}

tr {
  background-color: $white;
}


/******************************* navbar *****/
.navbar-default {
  background-color: $white;
}

.navbar-default .navbar-brand {
  color: $salmon-ish;
  font-size: 2em;
  font-weight: 400;
}

/************************** avatar sizes *****/
.avatar-small {
  width: 28px;
}

.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}


/********************************* bootstrap overrides ****/
.btn {
  padding-bottom: 3px;
}
.btn-primary.btn {
  border: 1px solid $salmon-ish;
  border-radius: 2px;
  font-weight: bold;
  background-color: $salmon-ish;
  color: $white;
  padding: 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: $mellon;
  border-bottom-color: $dark-orange;
  background-color: $mellon;
  outline: none;
}

.btn-primary.btn:active {
  border-color: $red-orange;
  background-color: $red-orange;
  outline: none;
}

.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px;
}

.panel-default .panel-heading {
  color: $lavender;
  background-color: $teal-light;
  font-size: 18px;
  font-weight: 400px;
}

.panel-img {
  max-height: 150px;
  min-width: 100%;
}
/******** row sizes **********/

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

/********************jumbotron *****/
.jumbotron {
  background-size: 100% 100%;
  min-height: 400px;
  width: 100%;
  height: 100%;
  margin-top: 15px;
}
.show-page-img {
  min-height: 300px;
}

.bike-show-img-div {
  min-width: 100%;
  width: 100%;
  background-color: $white;
  margin-top: 15px;
}

.bike-show-img-div img {
  // width:100%;
  height:100%;
}

/************ modify forms ***********/
.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}
.bike-form-error {
  color: $red-orange;
}

/*********** sidebars *************/
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #ccc;
}

.sidebar-link {
  color: #cacccd;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none;
}

/************************* alterations ********/
.bikes-index-header {
  color:$teal;
  text-shadow: 2px 2px 4px $blue;
  font-size: 3.5em;
}

.header-icons {
  color: $salmon-ish;
}

.conversation {
  color: $lavender-dark;
  padding: 10px;

}

.conversation:hover, .conversation.focus {
  background-color: #f4f4f5;
}

/********************** bike animation ********/

// SVG
// ==================================================
.fill--none {
  fill: none;
}

.fill--blue {
  fill: $blue;
}

.fill--lavender-dark {
  fill: $lavender-dark;
}

.fill--lavender {
  fill: $lavender;
}

.fill--teal {
  fill: $teal;
}

.fill--teal-light {
  fill: $teal-light;
}

.fill--yellow-dark {
  fill: $yellow-dark;
}

.fill--yellow-light {
  fill: $yellow-light;
}

.stroke--blue {
  stroke: $blue;
}

.stroke--2px {
  stroke-width: 2px;
}

.stroke--3px {
  stroke-width: 3px;
}

.stroke--dasharray {
  stroke-dasharray: 0 5;
}

.stroke--round {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.opacity--02 {
  opacity: 0.2;
}

// Bicycle
// ==================================================
.bicycle {
  width: 500px;
  height: 306px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.seat-highlight {
  fill: none;
  stroke: $white;
}

// Bicycle Animation
// ==================================================
.chain-rings,
.wheel-front,
.wheel-rear,
.cogset-top,
.crankarm-left,
.crankarm-right,
.pedal-left,
.pedal-right,
.pedal-left-inner,
.pedal-right-inner {
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.chain-rings,
.wheel-front,
.wheel-rear,
.cogset-top,
.crankarm-left,
.crankarm-right,
.pedal-left,
.pedal-right {
  animation-name: spin;
}

.pedal-left-inner,
.pedal-right-inner {
  animation-name: pedal;
}

.chain-move {
  animation: chain 0.075s linear forwards infinite;
}

.chain-move--reverse {
  animation-direction: reverse;
}

.chain-rings,
.wheel-front,
.wheel-rear,
.cogset-top,
.pedal-right-inner,
.pedal-left-inner {
  transform-origin: 50% 50%;
}

// Ugh, dumb Firefox transform-origin nonsense
@-moz-document url-prefix() {
  .wheel-front {
    transform-origin: 472.4px 240px;
  }

  .wheel-rear {
    transform-origin: 121.7px 240.9px;
  }

  .pedal-left-inner {
    transform-origin: 217.5px 226px;
  }

  .pedal-right-inner {
    transform-origin: 318px 310px;
  }

  .chain-rings {
    transform-origin: 268px 268.9px;
  }

  .cogset-top {
    transform-origin: 121.7px 240.9px;
  }
}

.crankarm-right,
.crankarm-left,
.pedal-right,
.pedal-left {
  transform-origin: 268px 268px;
}

.line-rear-wheel,
.line-front-wheel-long,
.line-front-wheel-short {
  animation: line-wheel 2.8s linear forwards infinite;
}


@keyframes chain {
  from {
    transform: translate3d(-2px, 0, 0);
  }
  to {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pedal {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-290deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes line-wheel {
  0% {
    transform: translate3d(500px, 0, 0);
  }
  100% {
    transform: translate3d(-650px, 0, 0);
  }
}

// Presentation
// ==================================================
body {
  font-family: -apple-system, ".SFNSDisplay-Regular", Roboto, Helvetica, Arial, sans-serif;
  background-color: $white;
}

.footer {
  color: $lavender;
  background-color: $teal-light;
  text-align: center;
  padding: 1em;
  left: 0;
  right: 0;
  bottom: 0;

  a {
    color: $blue;

    &:hover {
      text-decoration: none;
    }
  }
}

.footer-period {
  display: none;
}

.footer-text {
  font-size: 0.8em;
  font-weight: 600;
}

@media (min-width: 420px) {
  .footer-br {
    display: none;
  }

  .footer-spacing {
    margin-left: 1em;
  }
}

@media (max-width: 520px) {
  .bicycle {
    transform: translate3d(-50%, -50%, 0) scale(.775);
  }
}

@media (max-width: 420px) {
  .bicycle {
    transform: translate3d(-50%, -50%, 0) scale(.5);
  }
}
